* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border: transparent;
  background-color: transparent;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: rgb(15, 122, 165);
}

.nav-toggle {
  font-size: 1.2rem;
  transition: 0.4s;
}
.nav-toggle:hover {
  transform: rotate(90deg);
  color: rgb(15, 122, 165);
}

.links {
  height: 0;
  overflow: hidden;
  transition: height 0.6s;
}

.links a {
  display: block;
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-weight: bold;
  transition: 0.4s;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.links a:hover {
  color: white;
  background-color: rgb(67, 191, 240);
  padding-left: 0.5rem;
}

.social-icons {
  display: none;
  list-style: none;
}

.social-icons a {
  color: rgb(15, 122, 165);
}

.social-icons a:hover {
  color: rgb(67, 191, 240);
}

.show-links {
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
  }
  .links a {
    display: inline-block;
    font-weight: normal;
  }

  .links a:hover {
    padding-left: 0;
    background-color: transparent;
    color: rgb(67, 191, 240);
  }
  .social-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
